<body>
  <div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row box-area bg-white shadow h-100">

      <div class="col-md-6 left-box" style="background-color: indianred; background-size:cover; background-position:0% ;">
      </div>

      <div class="col-md-6 right-box">
        <div class="row align-items-center" [formGroup]="formulario">
          <div class="header-text mb-4">
            <p class="fs-1">Bienvenido a HospiTEC</p>
          </div>
          <div class="text mb-3" style="text-align: left; padding-left: 15px;">
            <p class="fs-5">Inicio de sesión</p>
            <small *ngIf="test()" class="text-danger">Correo o contraseña incorrectos</small>
          </div>
          <div class="input-group mb-3">
            <input formControlName="email" type="email" class="form-control form-control-lg bg-light fs-6" placeholder="Email" autocomplete="off">
          </div>
          <div class="input-group mb-3">
            <input formControlName="password" type="password" class="form-control form-control-lg bg-light fs-6" placeholder="Contraseña" autocomplete="off">
          </div>
          <div class="input-group mt-4">
            <button (click)="onLogin()" class="btn btn-lg w-100 fs-6">
              Iniciar sesión
              <span *ngIf="spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>

