<body>
  <div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row box-area bg-white shadow h-100">

      <div class="col-md-6 right-box">
        <div class="row align-items-center">
          <div class="header-text mb-4">
            <p class="fs-1">Bienvenido a HospiTEC</p>
          </div>
          <div class="text mb-3" style="text-align: left; padding-left: 15px;">
            <p class="fs-5">Inicio de sesión</p>
          </div>
          <div class="input-group mb-3">
            <input  type="email" class="form-control form-control-lg bg-light fs-6" placeholder="Correo">
          </div>
          <div class="input-group mb-3">
            <input  type="password" class="form-control form-control-lg bg-light fs-6" placeholder="Contraseña">
          </div>
          <div class="input-group mt-4">
            <button class="btn btn-lg btn-dark w-100 fs-6" (click)="onLogin()">Iniciar sesión</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>
