<body>
  <div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row box-area bg-white shadow h-100">

      <div class="col-md-4 left-box" style="background-image: url('../../assets/fondo.svg'); background-size:cover; background-position:20% ;">
      </div>

      <div class="col-md-8 right-box">
        <div class="row align-items-center">
          <div class="header-text mb-4">
            <p class="fs-1">Bienvenido a HospiTEC</p>
          </div>
          <div class="text mb-3" style="text-align: left; padding-left: 15px;">
            <p class="fs-5">Registro de paciente</p>
          </div>

          <form class="needs-validation" [formGroup]="form">
            <div class="input-group" style="margin-bottom: 40px;">
              <div class="col-sm-2" style="text-align: left;">
                <label for="nombre" class="col-form-label">Nombre</label>
              </div>
              <div class="col-sm-4">
                <div class="input-container">
                  <input formControlName="nombre" type="text" class="form-control" id="nombre" placeholder="Nombre" autocomplete="off">
                  <small *ngIf="form.controls['nombre'].dirty && form.hasError('required', 'nombre')" class="text-danger">*campo requerido</small>
                </div>
              </div>
              <div class="col-sm-6" style="padding-left: 10px;">
                <div class="input-container">
                  <input formControlName="apellidos" type="text" class="form-control" id="apellidos" placeholder="Apellidos" autocomplete="off">
                  <small *ngIf="form.controls['apellidos'].dirty && form.hasError('required', 'apellidos')" class="text-danger">*campo requerido</small>
                </div>
              </div>
            </div>

            <div class="input-group" style="margin-bottom: 40px;">
              <div class="col-sm-2" style="text-align: left;">
                <label for="Cedula" class="col-form-label">Cedula</label>
              </div>
              <div class="col-sm-10">
                <div class="input-container">
                  <input formControlName="cedula" type="text" class="form-control form-control-lg bg-light fs-6" id="cedula" placeholder="Cedula">
                  <small *ngIf="form.controls['cedula'].dirty && form.hasError('required', 'cedula')" class="text-danger">*campo requerido</small>
                </div>
              </div>
            </div>

            <div class="input-group" style="margin-bottom: 40px;">
              <div class="col-sm-2" style="text-align: left;">
                <label for="Numero" class="col-form-label">Número telefónico</label>
              </div>
              <div class="col-sm-10">
                <div class="input-container">
                  <input formControlName="numeroTel" type="text" class="form-control form-control-lg bg-light fs-6" id="numeroTel" placeholder="+506">
                  <small *ngIf="form.controls['numeroTel'].dirty && form.hasError('required', 'numeroTel')" class="text-danger">*campo requerido</small>
                </div>
              </div>
            </div>

            <div class="input-group" style="margin-bottom: 40px;">
              <div class="col-sm-2" style="text-align: left;">
                <label for="Direccion" class="col-form-label">Dirección</label>
              </div>
              <div class="col-sm-3">
                <div class="input-container">
                  <select formControlName="provincia" class="form-select" id="provincia">
                    <option selected disabled hidden>Provincia</option>
                    <option value="limon">Limón</option>
                    <option value="cartago">Cartago</option>
                    <option value="heredia">Heredia</option>
                    <option value="sanjose">San José</option>
                    <option value="guanacaste">Guanacaste</option>
                    <option value="puntarenas">Puntarenas</option>
                    <option value="alajuela">Alajuela</option>
                  </select>
                  <small *ngIf="form.controls['provincia'].dirty && form.hasError('required', 'provincia')" class="text-danger">*campo requerido</small>
                </div>
              </div>
              <div class="col-sm-4" style="padding-left: 10px;">
                <div class="input-container">
                  <input formControlName="canton" type="text" class="form-control" id="canton" placeholder="Cantón" autocomplete="off">
                  <small *ngIf="form.controls['canton'].dirty && form.hasError('required', 'canton')" class="text-danger">*campo requerido</small>
                </div>
              </div>
              <div class="col-sm-3" style="padding-left: 10px;">
                <div class="input-container">
                  <input formControlName="distrito" type="text" class="form-control" id="distrito" placeholder="Distrito" autocomplete="off">
                  <small *ngIf="form.controls['distrito'].dirty && form.hasError('required', 'distrito')" class="text-danger">*campo requerido</small>
                </div>
              </div>
            </div>

            <div class="input-group" style="margin-bottom: 40px;">
              <div class="col-sm-2" style="text-align: left;">
                <label for="F-nacimiento" class="col-form-label">Fecha de nacimiento</label>
              </div>
              <div class="col-sm-10">
                <div class="input-container">
                  <input formControlName="nacimiento" type="date" class="form-control" id="nacimiento">
                  <small *ngIf="form.controls['nacimiento'].dirty && form.hasError('required', 'nacimiento')" class="text-danger">*campo requerido</small>
                </div>
              </div>
            </div>

            <div class="input-group" style="margin-bottom: 40px;">
              <div class="col-sm-2" style="text-align: left;">
                <label for="Patologias" class="col-form-label">Patologías</label>
              </div>
              <div class="col-sm-10">
                <textarea formControlName="patologias" class="form-control" id="patologias" placeholder="Ingrese si padece de alguna patología" rows="2"></textarea>
              </div>
            </div>

            <div class="input-group" style="margin-bottom: 40px;">
              <div class="col-sm-2" style="text-align: left;">
                <label for="Tratamientos" class="col-form-label">Tratamientos</label>
              </div>
              <div class="col-sm-10">
                <textarea formControlName="tratamientos" class="form-control" id="tratamientos" placeholder="Ingrese si recibe algún tratamiento" rows="2"></textarea>
              </div>
            </div>

            <div class="input-group" style="margin-bottom: 40px;">
              <div class="col-sm-2" style="text-align: left;">
                <label for="email" class="col-form-label">Correo</label>
              </div>
              <div class="col-sm-10">
                <div class="input-container">
                  <input formControlName="email" type="email" class="form-control" id="email" placeholder="Correo electrónico" autocomplete="off">
                  <small *ngIf="form.controls['email'].dirty && form.hasError('required', 'email')" class="text-danger">*campo requerido</small>
                </div>
              </div>
            </div>

            <div class="input-group" style="margin-bottom: 40px;">
              <div class="col-sm-2" style="text-align: left;">
                <label for="password" class="col-form-label">Contraseña</label>
              </div>
              <div class="col-sm-10">
                <div class="input-container">
                  <input formControlName="password" type="password" class="form-control" id="password" placeholder="Cree una contraseña" autocomplete="off">
                  <div class="passwordHelp text-muted d-flex" *ngIf="passwordFormField?.dirty">
                    <span class="me-2 ms-2" [ngClass]="{'text-success': passwordFormField?.value?.match('^(?=.*[A-Z])'), 'text-danger': !passwordFormField?.value?.match('^(?=.*[A-Z])')}">
                      letra mayúscula
                    </span> <br />
                    <span class="me-2" [ngClass]="{'text-success': passwordFormField?.value?.match('(?=.*[a-z])'), 'text-danger': !passwordFormField?.value?.match('(?=.*[a-z])')}">
                      letra minúscula
                    </span><br />
                    <span class="me-2" [ngClass]="{'text-success': passwordFormField?.value?.match('(.*[0-9].*)'), 'text-danger': !passwordFormField?.value?.match('(.*[0-9].*)')}">
                      un número
                    </span><br />
                    <span class="me-2" [ngClass]="{'text-success': passwordFormField?.value?.match('(?=.*[!@#$%^&*])'), 'text-danger': !passwordFormField?.value?.match('(?=.*[!@#$%^&*])')}">
                      un caracter especial
                    </span><br />
                    <span class="me-2" [ngClass]="{'text-success': passwordFormField?.value?.match('.{8,}'), 'text-danger': !passwordFormField?.value?.match('.{8,}')}">
                      ocho caracteres
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="input-group" style="margin-top: 60px;">
              <button (click)="onRegister()" class="btn btn-lg btn-dark w-100 fs-6">Registrarse</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</body> 

